body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5;
  padding: 12;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #2ecc71;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: #34495e;
  padding: 1em;
  text-align: center;
  display: inline-block;
}

nav a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #2ecc71;
}

article {
  margin: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #2ecc71;
}

.article-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #2ecc71;
  color: white;
  text-align: center;
  padding: 1em;
}

button {
  background-color: #2ecc71;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a3ae27;
}